<!-- Request Class Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="requestModalLabel">Request a Class</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="requestName">Lesson Name:</label>
            <input placeholder="Intro to Guitar" name="requestName" type="text" class="form-control" />
          </div>
          <div class="form-group">
            <label for="requestCategory">Category:</label>
            <select class="form-control" name="requestCategory">
              <option value="automotive">Automotive</option>
              <option value="business_finance">Business &amp; Finance</option>
              <option value="culinary">Culinary</option>
              <option value="diy">DIY</option>
              <option value="fitness_health">Fitness &amp; Health</option>
              <option value="games">Games</option>
              <option value="history_social_studies">History &amp; Social Studies</option>
              <option value="language">Language</option>
              <option value="literature_writing">Literature &amp; Writing</option>
              <option value="music_audio">Music &amp; Audio</option>
              <option value="performing_arts">Performing Arts</option>
              <option value="science">Science</option>
              <option value="sports">Sports</option>
              <option value="technology">Technology</option>
              <option value="visual_arts">Visual Arts</option>
              <option value="other">Other</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block">Submit Request</button>
      </div>
    </div>
  </div>
</div> <!-- /Request Class Modal -->

<!-- Class Info Modal -->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="classModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="classModalLabel">Class Title Here</h4>
      </div>
      <div class="modal-body">
        ...Dynamic class info based on click event here...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">RSVP</button>
      </div>
    </div>
  </div>
</div> <!-- /Class Info Modal -->

<div id="siteIntro" class="jumbotron">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2 text-center">
      <h2>Learn Somethin' New!</h2>
      <p>Local Learners is a free to join group for trying new things.</p>
      <a class="btn btn-primary btn-lg white-txt" role="button" data-toggle="modal" data-target="#requestModal">Request a Class</a>
      <a class="btn btn-primary btn-lg white-txt" href="/teach"   role="button">Teach a Class</a>
    </div>
  </div>
</div>

<!-- Upcoming Classes -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h4><a href="/classes">Upcoming Classes</a></h4>
    </div>
    <div class="col-md-2 pull-right">
      <select class="form-control input-sm" ng-model="category">
        <option selected value="">All Categories</option>
        <option>Automotive</option>
        <option>Business</option>
        <option>Culinary</option>
        <option>DIY</option>
        <option>Fitness</option>
        <option>Games</option>
        <option>History</option>
        <option>Language</option>
        <option>Literature</option>
        <option>Music</option>
        <option>Other</option>
        <option>Performing Arts</option>
        <option>Science</option>
        <option>Sports</option>
        <option>Technology</option>
        <option>Visual Arts</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="class in availClasses | filter:category | limitTo:6">
      <div class="panel panel-default" role="button" data-toggle="modal" data-target="#classModal" data-classInfo="">
        <img src="img/class/{{class.image}}" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h5>{{ class.date }}</h5>
              <p class="small">{{ class.location }}</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="/classes" class="btn btn-default pull-right">See More</a>
</div> <!-- End Upcoming Classes -->

<!-- Most Requested Classes -->
<div class="container">
  <hr>
  <h3 class="lead">Most Requested Classes</h3>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="class in reqClasses | orderBy:'-requests' | limitTo:4">
          <span class="badge">{{class.requests}}</span>
          <span class="badge pull-left"><span class="glyphicon icon-{{class.category}}"></span></span>
          {{ class.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="class in reqClasses | orderBy:'-requests' | limitTo:8 | limitTo:-4">
          <span class="badge">{{class.requests}}</span>
          <span class="badge pull-left"><span class="glyphicon icon-{{class.category}}"></span></span>
          {{ class.name }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="class in reqClasses | orderBy:'-requests' | limitTo:12 | limitTo:-4">
          <span class="badge">{{class.requests}}</span>
          <span class="badge pull-left"><span class="glyphicon icon-{{class.category}}"></span></span>
          {{ class.name }}
        </li>
      </ul>
    </div>
  </div>
  <a href="/requested" class="btn btn-default pull-right">See More</a>
</div>

<div class="container margin-top-large">
  <hr />
  <div class="jumbotron text-center">
    <p>Don't see your class?</p>
    <a class="btn btn-primary btn-lg white-txt" role="button" data-toggle="modal" data-target="#requestModal">Suggest a Class</a>
  </div>
</div>


<script>
// Dynamic Class Info Modals, straight from Boostrap website
$('#classModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
  var classInfo = button.data('classInfo'); // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this);
  modal.find('.modal-title').text('Corresponding class title goes here: ' + classInfo);
  modal.find('.modal-body').text('Corresponding class info goes here: ' + classInfo);
});
</script>