<div class="jumbotron">
  <div class="container">
    <div class="row col-md-8 col-md-offset-2 text-center">
      <h2>Try Somethin' New!</h2>
      <p>Local Learners is a free to join group for trying new things.</p>
      <a class="btn btn-primary btn-lg white-txt" href="/request" role="button">Request a Class</a>
      <a class="btn btn-primary btn-lg white-txt" href="/teach"   role="button">Teach a Class</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <h4><a href="/classes">Upcoming Classes</a></h4>
    </div>
    <div class="col-md-2 pull-right">
      <p><select class="form-control input-sm">
            <option selected>All Categories</option>
            <option>Automotive</option>
            <option>Business</option>
            <option>Culinary</option>
            <option>DIY</option>
            <option>Fitness</option>
            <option>Games</option>
            <option>History</option>
            <option>Language</option>
            <option>Literature</option>
            <option>Music</option>
            <option>Other</option>
            <option>Performing Arts</option>
            <option>Science</option>
            <option>Sports</option>
            <option>Technology</option>
            <option>Visual Arts</option>
          </select></p>
    </div>
  </div>
  <div class="row">
    <!-- classes start -->
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <img src="img/class/history.png" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h4>January 1, 1997</h4>
              <p class="small">Downtown</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <img src="img/class/technology.png" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h4>January 1, 1997</h4>
              <p class="small">Downtown</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <img src="img/class/games.png" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h4>January 1, 1997</h4>
              <p class="small">Downtown</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <img src="img/class/diy.png" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h4>January 1, 1997</h4>
              <p class="small">Downtown</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <img src="img/class/culinary.png" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h4>January 1, 1997</h4>
              <p class="small">Downtown</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="panel panel-default">
        <img src="img/class/other.png" class="img-responsive" alt="Class Title - Category" />
        <div class="panel-body text-right">
          <div class="row">
            <div class="text-left col-md-4 col-sm-6 hidden-xs">
              <h2><span class="glyphicon glyphicon-ok"></span></h2>
              <p>RSVP</p>
            </div>
            <div class="col-md-8 col-sm-6">
              <h4>January 1, 1997</h4>
              <p class="small">Downtown</p>
              <span class="small badge glyphicon glyphicon-user">14</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /classes -->
  <a href="/classes" class="btn btn-default pull-right">See More</a>
</div>

<div class="container">
  <hr />
  <h3 class="lead">Most Requested Classes</h3>
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
        <li class="list-group-item">
          <span class="badge">14</span>
          <span class="badge pull-left"><span class="glyphicon glyphicon-music"></span></span>
          Intro to Guitar
        </li>
      </ul>
    </div>
  </div>
  <a href="/requested" class="btn btn-default pull-right">See More</a>
</div>

<div class="container margin-top-large">
  <hr />
  <div class="jumbotron text-center">
    <p>Don't see your class?</p>
    <a class="btn btn-primary btn-lg white-txt" href="/request" role="button">Suggest a Class</a>
  </div>
</div>