<div class="col-md-6 pull-left col-sm-6">

    <h3 class="text-center">Create Your Class</h3>

    <form class="form">
        <div class="form-group">
            <label for="classTitle">Class Title</label>
            <input placeholder="Intro to Guitar" name="classTitle" type="text" class="form-control" ng-model="newClass.name">
        </div>
        <div class="form-group">
            <label for="requestCategory">Category:</label>
            <select class="form-control" name="requestCategory">
                <option value="automotive">Automotive</option>
                <option value="business_finance">Business &amp; Finance</option>
                <option value="culinary">Culinary</option>
                <option value="diy">DIY</option>
                <option value="fitness_health">Fitness &amp; Health</option>
                <option value="games">Games</option>
                <option value="history_social_studies">History &amp; Social Studies</option>
                <option value="language">Language</option>
                <option value="literature_writing">Literature &amp; Writing</option>
                <option value="music_audio">Music &amp; Audio</option>
                <option value="performing_arts">Performing Arts</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
                <option value="visual_arts">Visual Arts</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="classDate">Date/Time</label>
            <input name="classDate" type="date" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="classLocation">Location</label>
            <input name="classLocation" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="classDescription">Class Description</label>
            <textarea name="classDescription" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="classPrerequisites">Prerequisites, Materials, and Requirements</label>
            <textarea name="classPrerequisites" class="form-control"></textarea>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="classPrerequisites">Cost</label>
                <select class="form-control">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <label for="classCost">Amount</label>
                <input placeholder="Please enter amount.." name="" type="text" class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="checkbox">
                    <label>
                        <input type="checkbox">I agree to the Terms and Conditions</input>
                    </label>
                </div>
            </div>
            <div>
                <img id="spinner" src="http://www.dhp11.com/foswiki/pub/Internal/2012-06-12/spinner.gif" ng-show="loading" style="height: 75px; width: 75px"></img>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-default pull-right" ng-click="submit()">Submit</button>
            </div>
        </div>
        <div>{{message}}</div>
    </form>

</div>