<ul>

    <li ng-click="signIn()">
        <!--<a href="https://secure.meetup.com/oauth2/authorize?client_id=h0dl8qkd82gbjan5cpr8plb4jq&response_type=token&redirect_uri=http://localhost:5000" target="_blank">Sign In</a>-->
        <a class="btn btn-success login">Login</a>


    </li>



    <li class="dropdown" ng-show="userAuthenticated">
        <img ng-src="{{userProfile.thumb_link}}" />
        <a class="dropdown-toggle btn btn-success login" data-toggle="dropdown" role="button" aria-expanded="false">{{Profile.name}} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/account">Account Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </li>

</ul>