
<!-- Teach Header -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7" style="height:300px;background-color:#4B699F;"></div>
      <div class="col-lg-4 col-md-5 well">
        <h3>Becoming a teacher is easy!</h3>
        <h4>Do I need to be a professional to teach?</h4>
        <p>Nope! If you know enough to teach, GO FOR IT!</p>
        <h4>What classes are people looking to take?</h4>
        <p>View the top requests below or see this page.</p>
        <h4>I want to teach, but need a location!</h4>
        <p>Click here! We're happy to help!</p>
        <p>Have more questions? See Full FAQ.</p>
      </div>
    </div>
  </div>
</section>

<!-- Teach Form -->
<section>
  <div class="container">
    <div class="row">

      <div class="col-md-6 pull-left col-sm-6">

        <h3 class="text-center">Create Your Class</h3>

        <form class="form">
          <div class="form-group">
            <label for="classTitle">Class Title</label>
            <input placeholder="Intro to Guitar" name="classTitle" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="requestCategory">Category:</label>
            <select class="form-control" name="requestCategory">
              <option>Automotive</option>
              <option>Business & Finance</option>
              <option>Culinary</option>
              <option>DIY</option>
              <option>Fitness & Health</option>
              <option>Games</option>
              <option>History & Social Studies</option>
              <option>Language</option>
              <option>Literature & Writing</option>
              <option>Music & Audio</option>
              <option>Performing Arts</option>
              <option>Science</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Visual Arts</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="classDate">Date/Time</label>
            <input name="classDate" type="date" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="classLocation">Location</label>
            <input name="classLocation" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="classDescription">Description</label>
            <textarea name="classDescription" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="classPrerequisites">Prerequisites, Materials, and Requirements</label>
            <textarea name="classPrerequisites" class="form-control"></textarea>
          </div>
          <div class="row form-group">
            <div class="col-md-3">
              <label for="classPrerequisites">Cost</label>
              <select class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <label for="classCost">Amount</label>
              <input placeholder="Please enter amount.." name="" type="text" class="form-control"/>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox">I agree to the Terms and Conditions
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-default pull-right">Submit</button>
            </div>
          </div>
        </form>

      </div>


<!-- Top Requested Classes -->

      <div class="col-md-6 col-sm-6">
        <h3 class="text-center">Top Requested Classes</h3>

        <div class="col-md-4 col-md-offset-8 col-sm-7 col-sm-offset-5">
          <form class="form">
            <div class="form-group">
              <label for="filterCategory" class="pull-right">Filter By Category</label>
                <select class="form-control input-sm">
                  <option>All Categories</option>
                  <option>Automotive</option>
                  <option>Business & Finance</option>
                  <option>Culinary</option>
                  <option>DIY</option>
                  <option>Fitness & Health</option>
                  <option>Games</option>
                  <option>History & Social Studies</option>
                  <option>Language</option>
                  <option>Literature & Writing</option>
                  <option>Music & Audio</option>
                  <option>Performing Arts</option>
                  <option>Science</option>
                  <option>Sports</option>
                  <option>Technology</option>
                  <option>Visual Arts</option>
                  <option>Other</option>
                </select>
            </div>
          </form>
        </div>
        <div></div>
      </div>

    </div> <!-- /level1 row -->
  </div> <!-- /container -->
</section>