
<style>
.chatbox {
    display: inline-block;
    border-radius: 4px;
    margin: 3px 0px;
    padding: 4px 10px;
    clear: both;
    font-size: 15px;
}
.chatbox a {
  color: #FFF;
}
.chatbox-r {
  position: relative;
  background: #88B7D5;
  border: 2px solid #C2E1F5;
  text-align: left;
  float: left;
  color: #EEF;
}
.chatbox-r:after,
.chatbox-r:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chatbox-r:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #88B7D5;
  border-width: 6px;
  margin-top: -6px;
}
.chatbox-r:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #C2E1F5;
  border-width: 9px;
  margin-top: -9px;
}
.chatbox-l {
  position: relative;
  background: #D58D94;
  border: 2px solid #F5C4C4;
  text-align: right;
  float: right;
  color: #FEE;
}
.chatbox-l:after, .chatbox-l:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chatbox-l:after {
  border-color: rgba(213, 141, 148, 0);
  border-left-color: #D58D94;
  border-width: 6px;
  margin-top: -6px;
}
.chatbox-l:before {
  border-color: rgba(245, 196, 196, 0);
  border-left-color: #F5C4C4;
  border-width: 9px;
  margin-top: -9px;
}
#teachVidQA p {
    clear: both;
}
</style>

<!-- Teach Header -->
<section id="teachVidQA">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pull-left col-sm-12 col-xs-12">
        <iframe src="https://www.youtube.com/embed/l_Hjpa5TXes" frameborder="0" allowfullscreen class="col-md-12 col-sm-12 col-xs-12" style="height:300px"></iframe>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <h3>Becoming a teacher is easy!</h3>
        <p class="chatbox chatbox-l">Do I need to be a professional to teach?</p>
        <p class="chatbox chatbox-r">Nope! If you know enough to teach, GO FOR IT!</p>
        <p class="chatbox chatbox-l">What classes are people looking to take?</p>
        <p class="chatbox chatbox-r">View the top requests below or see <a href="/#/requested">this page</a>.</p>
        <p class="chatbox chatbox-l">I want to teach, but need a location!</p>
        <p class="chatbox chatbox-r"><a href="/#/locations">Click here!</a> We're happy to help!</p>
        <p class="pull-right">Have more questions? See <a href="/#/faq">Full FAQ</a>.</p>
      </div>
    </div>
  </div>
</section>

<!-- Teach Form -->
<section>
  <div class="container">
    <div class="row">

      <div class="col-md-6 pull-left col-sm-6">

        <h3 class="text-center">Create Your Class</h3>

        <form class="form">
          <div class="form-group">
            <label for="classTitle">Class Title</label>
            <input placeholder="Intro to Guitar" name="classTitle" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="requestCategory">Category:</label>
            <select class="form-control" name="requestCategory">
              <option value="automotive">Automotive</option>
              <option value="business_finance">Business & Finance</option>
              <option value="culinary">Culinary</option>
              <option value="diy">DIY</option>
              <option value="fitness_health">Fitness & Health</option>
              <option value="games">Games</option>
              <option value="history_social_studies">History & Social Studies</option>
              <option value="language">Language</option>
              <option value="literature_writing">Literature & Writing</option>
              <option value="music_audio">Music & Audio</option>
              <option value="performing_arts">Performing Arts</option>
              <option value="science">Science</option>
              <option value="sports">Sports</option>
              <option value="technology">Technology</option>
              <option value="visual_arts">Visual Arts</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="classDate">Date/Time</label>
            <input name="classDate" type="date" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="classLocation">Location</label>
            <input name="classLocation" type="text" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="classDescription">Class Description</label>
            <textarea name="classDescription" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="classPrerequisites">Prerequisites, Materials, and Requirements</label>
            <textarea name="classPrerequisites" class="form-control"></textarea>
          </div>
          <div class="row form-group">
            <div class="col-md-3">
              <label for="classPrerequisites">Cost</label>
              <select class="form-control">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <label for="classCost">Amount</label>
              <input placeholder="Please enter amount.." name="" type="text" class="form-control"/>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox">I agree to the Terms and Conditions
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-default pull-right">Submit</button>
            </div>
          </div>
        </form>

      </div>


<!-- Top Requested Classes -->

      <div class="col-md-6 col-sm-6">
        <h3 class="text-center">Top Requested Classes</h3>

        <div class="col-md-4 col-md-offset-8 col-sm-7 col-sm-offset-5">
          <form class="form">
            <div class="form-group">
              <label for="filterCategory">Filter by Category:</label>
              <select class="form-control input-sm">
                <option>All Categories</option>
                <option>Automotive</option>
                <option>Business & Finance</option>
                <option>Culinary</option>
                <option>DIY</option>
                <option>Fitness & Health</option>
                <option>Games</option>
                <option>History & Social Studies</option>
                <option>Language</option>
                <option>Literature & Writing</option>
                <option>Music & Audio</option>
                <option>Performing Arts</option>
                <option>Science</option>
                <option>Sports</option>
                <option>Technology</option>
                <option>Visual Arts</option>
                <option>Other</option>
              </select>
            </div>
          </form>
        </div>
        <div>
          <ol class="clearfix">
            <li>Intro to Photoshop               <span class="badge">68</span></li>
            <li>Intermediate Guitar              <span class="badge">52</span></li>
            <li>Using a Pottery Wheel            <span class="badge">40</span></li>
            <li>Changing your brakepads          <span class="badge">38</span></li>
            <li>Retirement and 401K              <span class="badge">36</span></li>
            <li>Advanced Pillowforts             <span class="badge">36</span></li>
            <li>Designing for the Blind          <span class="badge">31</span></li>
            <li>Roth IRAs                        <span class="badge">28</span></li>
            <li>Intro to Bird Watching           <span class="badge">27</span></li>
            <li>Film Appreciation                <span class="badge">25</span></li>
            <li>Tornado Chasing                  <span class="badge">23</span></li>
            <li>Archery                          <span class="badge">20</span></li>
            <li>Special Effects                  <span class="badge">19</span></li>
            <li>Planning a Birthday Party        <span class="badge">17</span></li>
            <li>Cooking without a Microwave      <span class="badge">15</span></li>
            <li>Quantum Physics                  <span class="badge">14</span></li>
            <li>Pretending to Care (Pt. 1)       <span class="badge">12</span></li>
            <li>Coping with being Awesome        <span class="badge">10</span></li>
            <li>Make a Video game in 60 minutes  <span class="badge">8</span></li>
            <li>Planting a tree                  <span class="badge">7</span></li>
            <li>Painting your house              <span class="badge">5</span></li>
            <li>Should you murder your spouse?   <span class="badge">3</span></li>
            <li>The intricacies of Time Travel   <span class="badge">3</span></li>
            <li>Running for President            <span class="badge">3</span></li>
            <li>Making Friends                   <span class="badge">1</span></li>
            <li>Underwater Basket Weaving        <span class="badge">1</span></li>
            <li>Renting fish                     <span class="badge">1</span></li>
            <li>Donating others organs           <span class="badge">1</span></li>
            <li>Understanding Christopher Walken <span class="badge">1</span></li>
            <li>Hiking across the Great Lakes    <span class="badge">1</span></li>
            <li>Writing the Stephanie Meyers Way <span class="badge">1</span></li>
          </ol>
        </div>
      </div>

    </div> <!-- /level1 row -->
  </div> <!-- /container -->
</section>