<section id="hostParters">
  <div class="container">
    <div class="row">
      <h1>Privacy</h1>
      <p>This isn't a generic legal statement like most websites. At Local Learners, we care very much about your privacy.</p>

      <p>Since our site is, at most, an augmentation of Meetup.com, we hold very little of your personal data.</p>

      <blockquote>
        <p>If the data is stored on MeetUp's servers, and we can freely use that data, then we have no reason to store it ourselves.</p>
        <footer><cite title="Source Title">The core of our data policy.</cite></footer>
      </blockquote>

      <p>Any data we do keep, stays with us and is <strong>not shared with or sold</strong> to any party.</p>
      <p>However it should be known that nearly all data we have is already public. For example the names, dates, and locations of classes.</p>

      <hr />

      <h3>Tracking</h3>

      <p>It is possible for websites to track you as you move across the web. This is typically done to learn your habits and to better market to you. We do not employ these tactics, nor any other related to tracking you. There is no advertising on this website.</p>

      <p><strong>Who can track you while on LocalLearners.net</strong> - Much of our website relies on cooperating with MeetUp.com. As such some interactions you do on our website, may actually be sending data to them. Such as creating a post for a class you want to teach. If you're curious about their privacy statement, <a href="http://www.meetup.com/privacy" target="_blank">click here</a>. Aside from MeetUp our website uses two of the most popular web development libraries on the net, jQuery and Bootstrap. These are both hosted on a different server used commonly by thousands of websites. jQuery is being hosted on Google's CDN, you can see their <a href="http://www.google.com/intl/en/policies/privacy" target="_blank">privacy statement here</a>. Bootstrap is hosted on MaxCDN, their privacy policy <a href="https://www.maxcdn.com/legal">can be found on this page</a>.</p>

      <hr />

      <p>If you have any questions or concerns about how we handle your data, please <a href="/contact">contact us</a>.</p>

    </div>
  </div>
</section>
