<section>
  <div class="container">
    <div class="row">
        <div class="container">
        <h2 class="page-header">About Local Learners</h2>
        <h4 class="lead">It's not about us; it's about learning.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis itaque architecto praesentium quibusdam non veritatis, deleniti reiciendis ipsum aliquam. Non modi reprehenderit deleniti quae, sed quisquam tenetur vel a! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptates, doloribus odio dolorem suscipit facere illum totam ipsam obcaecati error laudantium nobis minima, officiis ab in commodi vitae quod deleniti?</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4 col-sm-4 text-center">
        <img src="../../img/about/default-portrait.png" class="">
        <h3>Tyler Nagooyen</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vel impedit recusandae adipisci laboriosam unde, laborum maxime quibusdam nihil, doloremque praesentium dolor officia minima magnam quis provident. Repellendus, facere, blanditiis.</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img src="../../img/about/default-portrait.png" class="">
        <h3 class="text-center">Dr. Taco</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vel impedit recusandae adipisci laboriosam unde, laborum maxime quibusdam nihil, doloremque praesentium dolor officia minima magnam quis provident. Repellendus, facere, blanditiis.</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img src="../../img/about/default-portrait.png" class="">
        <h3 class="text-center">Shannon Bux</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vel impedit recusandae adipisci laboriosam unde, laborum maxime quibusdam nihil, doloremque praesentium dolor officia minima magnam quis provident. Repellendus, facere, blanditiis.</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="container">
        <h3>Local Learners Motto</h3>
        <p>Compelling motto goes here.</p>
      </div>
    </div>
  </div>
</section>