<style>
  .about-img {
    max-width: 200px
  }
</style>
<section>
  <div class="container">
    <div class="row">
      <div class="container">
        <h2 class="page-header">About Local Learners</h2>
        <h4 class="lead">It's not about us; it's about learning.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias officiis itaque architecto praesentium quibusdam non veritatis, deleniti reiciendis ipsum aliquam. Non modi reprehenderit deleniti quae, sed quisquam tenetur vel a! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptates, doloribus odio dolorem suscipit facere illum totam ipsam obcaecati error laudantium nobis minima, officiis ab in commodi vitae quod deleniti?</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-4 col-sm-4 text-center">
        <img class="img-circle about-img" src="https://avatars2.githubusercontent.com/u/4622481" />
        <h3>Hai</h3>
        <p class="text-left">Founder</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img class="img-circle about-img" src="https://avatars0.githubusercontent.com/u/4629794" />
        <h3 class="text-center">Jared</h3>
        <p class="text-left">Project Manager</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img class="img-circle about-img" src="https://avatars1.githubusercontent.com/u/7788242" />
        <h3 class="text-center">Alissa</h3>
        <p class="text-left">Worker bee</p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="container">
        <h3>Local Learners Motto</h3>
        <p>Compelling motto goes here.</p>
      </div>
    </div>
  </div>
</section>