<!-- Wishlist Main Content/Category Boxes -->
<section>
  <div class="container">

    <h3>Requested Classes</h3>

    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Music</div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">14</span>
              Intro to Guitar
            </li>
            <li class="list-group-item">
              <span class="badge">3</span>
              Woodwind Instruments
            </li>
            <li class="list-group-item">
              <span class="badge">6</span>
              Beginning Piano
            </li>
          </ul>
        </div>
      </div>

  </div>
</section>

<!-- Wishlist Call to Action -->
<section>
 <div class="container text-center well well-lg">
  <div class="col-md-4 col-md-offset-2 col-xs-6">
    <h4>Don't see your class?</h4>
    <a class="btn btn-lg btn-primary" href="">Request it here</a>
  </div>
  <div class="col-md-4 col-sm-5 col-xs-6">
    <h4>See a class you can teach?</h4>
    <a class="btn btn-lg btn-primary" href="">Sign up to teach</a>
  </div>
 </div>
</section>