// For the header, nav, and breadcrumbs that appear on every page.

header
    li:last-of-type
        cursor: pointer

.navbar
    border-radius: 0px
    .dropdown img
        height: 38px
        border-radius: 7px
        padding: 0px
        margin: -2px 8px 0px -5px
        border: 1px solid #18967D

.navbar-right
    ul,
    li
        list-style: none
        margin: 0px
        padding: 0px
    ul
        float: right

.login
    line-height: 43px
    margin: 8px 0px 0px 0px
    padding: 0px 12px

.nav
    .open>a,
    .open>a:hover,
    .open>a:focus
        background-color: #17937B

.navbar-form
    text-align: center

.headerSearchBox
    display: inline-block
    width: 84%
    vertical-align: top

.navbar-form
    margin-right: 0px
    margin-left: 0px