
// The main document, every page on the site refers to this basic document

*,
*:before,
*:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html
    +bmp0
    width: 100%
    height: 100%

body
    +bmp0
    width: 100%

.floatright
    float: right

.floatleft
    float: left

.italic,
.italics
    font-style: italic

img
    -ms-interpolation-mode: bicubic

.white-txt
    color: #FFF

#hai
    position: absolute
    top: 0px
    left: 0px
    padding: 160px 0px 0px 0px
    -webkit-animation: haiSlide 2s
    -webkit-transition: all 2s ease
    -moz-transition: all 2s ease
    -o-transition: all 1s ease
    -ms-transition: all 2s ease
    transition: all 2s ease
    &:target
        left: -1920px
    a
        display: block
        min-width: 320px
        background: #F5EEEE
        border: 13px solid #A55
        border-left: 0px
        border-radius: 0px 200px 200px 0px
        margin: 0px
        padding: 30px 40px 30px 21px
        color: #B34848
        font-family: tahoma, arial, sans-serif
        font-size: 24px
        font-weight: bold
        text-align: left
        text-decoration: none
        text-shadow: 1px 1px 4px rgba(123, 63, 63, 0.5)
        box-shadow: -2px 5px 6px rgba(0,0,0,0.2), inset 0px 0px 8px rgba(255,0,0,0.75)
        vertical-align: middle
        z-index: 999999999999999999
        cursor: default
        &:before
            content: "!"
            display: block
            height: 45px
            width: 45px
            position: absolute
            top: 157px
            right: -11px
            background: #F9F5F5
            border: 6px solid #C34646
            border-radius: 200px
            margin: 0px
            padding: 0px 11px 0px 13px
            color: #F75B5B
            font-size: 19px
            line-height: 30px
            cursor: pointer
            text-shadow: 1px 1px 4px rgba(123, 63, 63, 0.5)
            box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.16),inset 0px 0px 8px rgba(123, 88, 88, 0.75)
            z-index: 99999999999999999

@-webkit-keyframes haiSlide
    from
        left: -1920px
    to
        left: 0px

@-webkit-keyframes haiSlideBack
    from
        left: 0px
    to
        left: -1920px