<footer>
  <hr />
  <div class="container text-center">
    <ul class="list-unstyled list-inline">
      <li><a href="#/contact">Contact</a></li>
      <li><a href="#/feedback">Feedback</a></li>
      <li><a href="http://meetup.com/locallearners">Meetup Page</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/privacy">Privacy</a></li>
      <li><a href="#/terms">Terms</a></li>
      <li><a href="#/help">Help/FAQ</a></li>
    </ul>
    <p class="small">Copyright 2014 Local Learners. All rights reserved.</p>
  </div>
</footer>