<section>
    <div class="container">

        <h3>Requested Classes</h3>

        <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="(categoryName, classGroup) in requestedGroup">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{categoryName}}</div>
                    <ul class="list-group">
                        <li class="list-group-item" ui-sref="requested.detail({ id: requestedClass._id })" ng-repeat="requestedClass in classGroup">
                            <span class="small badge glyphicon glyphicon-user">{{requestedClass.interestedUsers.length}}</span>
                            {{requestedClass.name}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
</section>
