<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h4><a href="/classes">Upcoming Classes</a></h4>
        </div>
        <div class="col-md-2 pull-right">
            <select class="form-control input-sm" ng-options="c as c for c in categories" ng-model="selectedCategory"></select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6" ng-repeat="availClass in availClasses | limitTo:6" ng-click="getClassInfo(availClass)">
            <div class="panel panel-default" role="button" data-toggle="modal" data-target="#classModal" data-classInfo="">
                <span class="upcomingCategory"><a href="{{ availClass.catlink }}">{{ availClass.category }}</a></span>
                <img src="img/class/{{availClass.image}}" class="img-responsive upcomingImage" alt="Class Title - Category" />
                <span class="upcomingTitle truncate col-md-12 col-sm-12 col-xs-12">{{ availClass.name }}</span>
                <div class="panel-body text-right">
                    <div class="row">
                        <div class="text-left col-md-4 col-sm-6 hidden-xs">
                            <h2><span class="glyphicon glyphicon-ok"></span></h2>
                            <p>RSVP</p>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <h5>{{ availClass.date }}</h5>
                            <p class="small">{{ availClass.location }}</p>
                            <span class="small badge glyphicon glyphicon-user">14</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="/classes" class="btn btn-default pull-right">See More</a>
</div>