<section>
  <div class="container">
    <h2 class="page-header">Contact Us</h2>
    <p>We'd love to hear your feedback and ideas. You can contact us directly below on Meetup or use the feedback form on this page. You can submit anonymously, however if you leave an email address, we'll be able to respond to your comments and suggestions.</p>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h3>Feedback</h3>
        <form class="form">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="contactName">Name</label>
              <input placeholder="" name="contactName" type="text" class="form-control">
            </div>
            <div class="col-md-6 form-group">
              <label for="contactName">E-mail</label>
              <input placeholder="" name="contactEmail" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="contactReason">Reason for Contact:</label>
            <select class="form-control" name="contactReason">
              <option>Question</option>
              <option>Comment/Suggestion</option>
              <option>Feedback</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="contactMessage">Message *</label>
            <textarea name="contactMessage" class="form-control" required="required"></textarea>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h3 class="text-left">Direct Message</h3><br />

        <h4>Meetup:</h4>
        <ul>
          <li><a href="https://secure.meetup.com/messages/?new_convo=true&name=Hai+Nguyen&member_id=85189222">Contact Hai on Meetup</a></li>
          <li><a href="https://secure.meetup.com/messages/?new_convo=true&name=Jared+Wilcurt&member_id=14271946">Contact Jared on Meetup</a></li>
        </ul><br />

        <h4>E-Mail</h4>
        <ul>
          <li>Coming soon</li>
          <!-- <li>E-mail us directly at: <a href="mailto:contact@LocalLearners.net" target="_blank">contact@LocalLearners.net</a></li>
          <li>Press contact info: <a href="mailto:press@LocalLearners.net" target="_blank">press@LocalLearners.net</a></li> -->
        </ul><br />

        <h4>Find us on Social Media</h4>
        <ul>
          <li>Coming soon</li>
          <!--<li>Facebook</li>
          <li>Twitter</li>-->
        </ul>

      </div>
    </div>
  </div>
</section>