<section>
  <div class="container">
    <h2 class="page-header">Contact Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quibusdam reiciendis dicta ipsum quas, fugit nisi. Ducimus beatae, illum sequi similique. Doloremque quasi nihil obcaecati ea aliquam ex adipisci laborum.</p>
    <hr />
    <h3>Send a Message</h3>
    <div class="row">
      <div class="col-md-6">
        <form class="form">
          <div class="row">
            <div class="col-md-6 form-group">
              <label for="contactName">Name</label>
              <input placeholder="" name="contactName" type="text" class="form-control">
            </div>
            <div class="col-md-6 form-group">
              <label for="contactName">E-mail</label>
              <input placeholder="" name="contactEmail" type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="contactReason">Reason for Contact:</label>
            <select class="form-control" name="contactReason">
              <option>Question</option>
              <option>Comment/Suggestion</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="contactMessage">Message</label>
            <textarea name="contactMessage" class="form-control"></textarea>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 text-center">
        <p>Contact Hai on Meetup</p>
        <p>Contact Jared on Meetup</p>
        <p>Find us on Social Media</p>
        <ul class="list-unstyled">
          <li>Link #1</li>
          <li>Link #2</li>
          <li>Link #3</li>
        </ul>
        <p>E-mail us directly at:</p>
        <p><a href="#">contact@LocalLearners.net</a></p>
        <p>Press ontact info:</p>
        <p><a href="#">press@LocalLearners.net</a></p>
      </div>
    </div>
  </div>
</section>