
<div class="jumbotron">
	<div class="container">
		<div class="row col-md-8 col-md-offset-2 text-center">
		  	<h2>Catchy slogan here</h2>
		  	<p>Perhaps another short sentence here to reiterate first point.</p>
		  	<a class="btn btn-primary btn-lg" href="#" role="button">Request a Class</a>
		  	<a class="btn btn-primary btn-lg" href="#" role="button">Teach a Class</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p>Upcoming Classes</p>
		</div>
		<div class="col-md-6 text-right">
			<p>ALL CATEGORIES</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-6">
			<img src="default-class-img.jpg" class="img-responsive">
			<p>January 1, 1997</p>
			<p>Downtown</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<img src="default-class-img.jpg" class="img-responsive">
			<p>January 1, 1997</p>
			<p>Downtown</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<img src="default-class-img.jpg" class="img-responsive">
			<p>January 1, 1997</p>
			<p>Downtown</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<img src="default-class-img.jpg" class="img-responsive">
			<p>January 1, 1997</p>
			<p>Downtown</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<img src="default-class-img.jpg" class="img-responsive">
			<p>January 1, 1997</p>
			<p>Downtown</p>
		</div>
		<div class="col-md-4 col-sm-6 col-xs-6">
			<img src="default-class-img.jpg" class="img-responsive">
			<p>January 1, 1997</p>
			<p>Downtown</p>
		</div>
	</div>
	<button type="button" class="btn btn-default pull-right">See More</button>
</div>

<div class="container">
	<div class="jumbotron text-center">
		<p>Don't see your class?</p>
	  	<a class="btn btn-primary btn-lg" href="#" role="button">Suggest a Class</a>
	</div>
</div>


