<div class="container">
  <div class="row">
    <h4 class="pull-left">Request a Class:</h4>
  </div>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label for="courseName">Course Name:</label>
      <input placeholder="Intro to Guitar" name="courseName" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="requestCategory">Category:</label>
      <select class="form-control">
        <option>Automotive</option>
        <option>Business & Finance</option>
        <option>Culinary</option>
        <option>DIY</option>
        <option>Fitness & Health</option>
        <option>Games</option>
        <option>History & Social Studies</option>
        <option>Language</option>
        <option>Literature & Writing</option>
        <option>Music & Audio</option>
        <option>Performing Arts</option>
        <option>Science</option>
        <option>Sports</option>
        <option>Technology</option>
        <option>Visual Arts</option>
        <option>Other</option>
      </select>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-default pull-right">Submit</button>
    </div>
  </form>
</div>