<div class="container">
  <div class="row">
    <h4 class="pull-left">Request a Class:</h4>
  </div>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label for="courseName">Course Name:</label>
      <input placeholder="Intro to Guitar" name="courseName" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="requestCategory">Category:</label>
      <select class="form-control">
        <option>Art</option>
        <option>Automotive and Vehicles</option>
        <option>Business and Finance</option>
        <option>Music</option>
        <option>Pets and Animals</option>
        <option>Software</option>
        <option>Need to fill in more categories later and change the markup here to match Bootstrap standards. Also I'm not awake right now.</option>
      </select>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-default pull-right">Submit</button>
    </div>
  </form>
</div>