<form>
  <p>Request a Class:</p>
  <label for="courseName">Course Name:</label> <input placeholder="Intro to Guitar" name="courseName" type="text"/>
  <label for="requestCategory">Category:</label>
  <select>
    <option>Art</option>
    <option>Automotive and Vehicles</option>
    <option>Business and Finance</option>
    <option>Music</option>
    <option>Pets and Animals</option>
    <option>Software</option>
    <option>Need to fill in more categories later and change the markup here to match Bootstrap standards. Also I'm not awake right now.</option>
  </select>
</form>