<section id="hostParters">
  <div class="container">
    <div class="row">
      <h2>Become a Host</h2>
      <h3>There are tons of great reasons to offer to host a class at your location</h3>
      <p>
        Hosting a class at a business location increases traffic and lets those who otherwise wouldn't know about your business find it!
        You'll be helping build a stronger community in your city.
        People will remember the good time they had in the class and positively associate that good feeling with your business.
        They're are more likely to drive a little further to come back to your location to <em>help you out</em> because you helped <em>them out</em> by hosting the class.
      </p>
      <p>
        Not only can you host classes taught by others (which is awesome), you can host classes that you are uniquely fit to teach.
        Pottery shops could have a "How to use a pottery wheel" class.
        Swing Dancing studio's that already charge for weekly classes could offer a free hour long class every two months to let people learn the basics and try it out for free.
        If they have a good time, they're bound to sign up for more lessons next week.
      </p>
      <p class="alert alert-info text-center">Increase traffic to your business while helping those in your community try new things!</p>
    <hr />
    </div>
  </div>
</section>

<!--<hr />

<section id="hostParters">
  <div class="container">
    <div class="row">

      <h3 class="text-center">Join Our Current Partners!</h3>

      <div class="row text-center">
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
      </div>
      <div class="row text-center">
        <a href="#" target="_blank" class="col-md-4 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-4 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-4 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
      </div>

    </div>
  </div>
</section> -->

<section>
  <div class="container">
    <h3 class="text-center">Submit Your Venue</h3>

    <form class="form">
      <div class="row form-group">
        <div class="col-md-6">
          <label for="venueconame">Company Name</label>
          <input class="form-control" type="text" name="venueconame" placeholder="Bob's Burgers" />
        </div>
        <div class="col-md-6">
          <label for="venueaddress">Venue Address</label>
          <input class="form-control" type="text" name="venueaddress" placeholder="123 East Main Street, Indianapolis IN 46204" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label for="venuecontact">Contact Person</label>
          <input class="form-control" type="text" name="venuecontact" placeholder="Bob Belcher" />
        </div>
        <div class="col-md-6">
          <label for="venuenumber">Contact's Phone Number</label>
          <input class="form-control" type="text" name="venuenumber" placeholder="317-123-4567" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label for="venueemail">Contact's E-Mail Address</label>
          <input class="form-control" type="text" name="venueemail" placeholder="burgerboss@aolhotmail.org" />
        </div>
        <div class="col-md-6">
          <label for="venueinfo">Any information about the venue</label>
          <input class="form-control" type="text" name="venueinfo" placeholder="Largest room seats about 20." />
        </div>
      </div>
      <h4 class="text-center">We make every attempt to visit in person the offered locations so that we may make better recommendations to our teachers.</h4>
      <div class="row form-group">
        <button class="btn btn-info pull-right" type="submit">Submit</button>
      </div>
    </form>


  </div> <!-- /container -->
</section>