<section id="hostParters">
  <div class="container">
    <div class="row">
      <h1>Become a Host</h1>
      <p>Some lead in sentence with a compelling reason will go here.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<hr />

<section id="hostParters">
  <div class="container">
    <div class="row">

      <h3 class="text-center">Join Our Current Partners!</h3>

      <div class="row text-center">
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-3 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
      </div>
      <div class="row text-center">
        <a href="#" target="_blank" class="col-md-4 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-4 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
        <a href="#" target="_blank" class="col-md-4 text-center"><img src="/img/partners/0.png" alt="Business Name Logo" title="Business Name" /></a>
      </div>

    </div> <!-- /level1 row -->
  </div> <!-- /container -->
</section> <!-- /hostParters -->

<hr />

<section>
  <div class="container">

    <h3 class="text-center">Submit Your Venue</h3>

    <form class="form">
      <div class="row form-group">
        <div class="col-md-6">
          <label for="venueconame">Company Name</label>
          <input class="form-control" type="text" name="venueconame" placeholder="Bob's Burgers" />
        </div>
        <div class="col-md-6">
          <label for="venueaddress">Venue Address</label>
          <input class="form-control" type="text" name="venueaddress" placeholder="123 East Main Street, Indianapolis IN 46204" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label for="venuecontact">Contact Person</label>
          <input class="form-control" type="text" name="venuecontact" placeholder="Bob Belcher" />
        </div>
        <div class="col-md-6">
          <label for="venuenumber">Contact's Phone Number</label>
          <input class="form-control" type="text" name="venuenumber" placeholder="317-123-4567" />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label for="venueemail">Contact's E-Mail Address</label>
          <input class="form-control" type="text" name="venueemail" placeholder="burgerboss@aolhotmail.org" />
        </div>
        <div class="col-md-6">
          <label for="venueinfo">Any information about the venue</label>
          <input class="form-control" type="text" name="venueinfo" placeholder="Largest room seats about 20." />
        </div>
      </div>
      <div class="row form-group">
        <button class="pull-right" type="submit">Submit</button>
      </div>
    </form>

  </div> <!-- /container -->
</section>