<section>
    <ll-requested-classes></ll-requested-classes>
    <div class="container text-center well well-lg">
        <div class="col-md-4 col-md-offset-2 col-xs-6">
            <h4>Don't see your class?</h4>
            <a class="btn btn-lg btn-primary" href="/request">Request it here</a>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6">
            <h4>See a class you can teach?</h4>
            <a class="btn btn-lg btn-primary" href="/teach">Sign up to teach</a>
        </div>
    </div>
</section>