<div class="container">
    <div class="row">
        <h4 class="pull-left">Request a Class:</h4>
    </div>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="requestName">Lesson Name:</label>
            <input placeholder="Intro to Guitar" name="requestName" type="text" class="form-control" ng-model="newRequest.name"/>
        </div>
        <div class="form-group">
            <label for="requestCategory">Category:</label>
            <select class="form-control" name="requestCategory" ng-options="c.name for c in categories" ng-model="newRequest.category"></select>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default pull-right" ng-click="submit()">Submit</button>
        </div>
    </form>
    <div>{{message}}</div>
</div>