<section id="account">
  <div class="container">
    <div class="row">
      <h1>Account</h1>
      <img src="/img/about/default-portrait.png" title="profile picture pulled from API" />
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Classes Taught <span class="badge pull-right">3</span></div>
          <ul class="list-group">
            <li class="list-group-item">Intro to Guitar</li>
            <li class="list-group-item">Woodwind Instruments</li>
            <li class="list-group-item">Beginning Piano</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Classes Attended <span class="badge pull-right">8</span></div>
          <ul class="list-group">
            <li class="list-group-item">Funky Dancing</li>
            <li class="list-group-item">Intro to pumpkins</li>
            <li class="list-group-item">Dynamic gardening</li>
            <li class="list-group-item">Perfecting your moonwalk</li>
            <li class="list-group-item">Appreciating others asinine opinions</li>
            <li class="list-group-item">Building spaceships on a budget</li>
            <li class="list-group-item">Filming your neighbors without them realizing</li>
            <li class="list-group-item">Home dentistry</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading bold">Classes Requested <span class="badge pull-right">4</span></div>
          <ul class="list-group">
            <li class="list-group-item">Cooking without a Microwave</li>
            <li class="list-group-item">Should you murder your spouse?</li>
            <li class="list-group-item">Renting fish</li>
            <li class="list-group-item">Tornado Chasing</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="accountSettings">
  <div class="container">
    <div class="row">
      <h3 class="text-center">Account Settings</h3>
    </div>
    <div class="row">
      <div></div>
    </div>
  </div> <!-- /container -->
</section> <!-- /hostParters -->